<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#if title}}{{title}}{{else}}Girl Gang Brainstorm ★{{/if}}</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="page">
      <header id="page-header">
        <img src="/logo.png" alt="logo" class="logo">
        <h1>Idea Board</h1>
      </header>
      <div id="page-content">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
